<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/styles/chart.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div>
    <label for="city">Choose city:</label>
    <input type="text" id="city" value="Kyiv">
    <button id="search">Search</button>
</div>

<div id="forecast"></div>

<script src="/chart.js"></script>
</body>
</html>