<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>

  <div class="void">

  </div>
  <header>
    <div class="navbarHead">
      <img src="https://static.vecteezy.com/system/resources/previews/026/571/030/non_2x/weather-icon-with-sun-and-cloud-on-transparent-background-free-png.png"
           alt="" />
      <h1>Weather for everyone</h1>
    </div>
    <div class="centerHead">
      <div class="search-input">
        <input type="text" placeholder="Пошук..." class="city-name">
      </div>
    </div>
  </header>
  <div class="page-wrapper">
    <main class="content">
      <div class="window">
        <div class="navbar">
          <h1>Weather for everyone</h1>
        </div>
        <div class="weather">
          <h2 class="description"> Це сучасний та зручний вебсайт, де кожен може дізнатися актуальну та точну погоду в будь-якому місті світу. Незалежно від того, плануєш подорож, вихід на природу чи просто хочеш знати, чи брати парасольку</h2>
        </div>
       
        <div class="buttons">
          <a href="/auth/register"><button>Зареєструватись</button></a>
          <a href="/auth/login"><button>Увійти</button></a>
        </div>
        <h2 class="description">Цей сайт створений саме для вас такщо реєструйся</h2>
      </div>
      <div class="wether">
        <h1>Рекомендовані місця:</h1>
        <div class="places recommended">
        </div>
      </div>
      
    </main>


    <footer>
      <h3>Досить гортати! Краще зареєструйся або увійди!</h3>
      <p>Цей проект робила команда потужних людей</p>
      <p>&copy; 2025. Команда Потужні</p>
    </footer>
  </div>
  </body>
</html>
