<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="registerAndAuthorization.css">
</head>
<body>
<div class="void">

</div>
<header>
    <div class="navbarHead">
        <img src="https://static.vecteezy.com/system/resources/previews/026/571/030/non_2x/weather-icon-with-sun-and-cloud-on-transparent-background-free-png.png"
                alt="" />
        <h1>Weather for everyone</h1>
    </div>
    <div class="centerHead">
        <div class="search-input">
            <input type="text" placeholder="Пошук...">
            <button onclick="alert('Може зареєструєшся?')" type="submit" aria-label="Пошук">🔍</button>
        </div>
    </div>
    <div class="endHead">
        <a href="#"><h2>Увійти</h1></a>
    </div>
</header>
<div class="page-wrapper">
    <main class="content">
        <div class="window">
            <div class="navbar">
                <h1>Реєстрація</h1>
            </div>
            <div class="nameAndPassword">
                <input class="userName" type="text" placeholder="Ім'я" />
                <input class="userPassword" type="password" placeholder="Пароль" />
            </div>
            <button>OK</button>
        </div>
    </main>

    <footer>
        <h3>Досить гортати! Краще зареєструйся або увійди!</h3>
        <p>Цей проект робила команда потужних людей</p>
        <p>&copy; 2025. Команда Потужні</p>
    </footer>
</div>
</body>
</html>