<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="">
    <input type="text">
    <input type="email">
    <input type="password">
    <button type="submit"></button>
</form>

</body>
</html>
