<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/signIn.css' />
</head>
<body>
    <div class="main">
        <form class="form" action="">
            <input type="text">
            <input type="email">
            <input type="password">
            <button type="submit"></button>
        </form>
    </div>


</body>
</html>
