body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(to bottom right, #4a90e2, #50e3c2);
}

#forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 12px;
    padding: 10px;
}

.weather-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    color: black;
    z-index: 1000;
    font-size: 18px;
    width: 500px;
    background-color: #f0f8ff;
    border-radius: 25px;
    max-width: 80vw;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background: #f0f0f0;
}

#search_btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #4a90e2;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#current-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.today-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 12px;
    padding: 10px;
}

#cityInput {
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    width: 250px;
    max-width: 80vw;
    outline: none;
    margin-right: 10px;
}

#weatherSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.search-icon {

}
